div:first-child{
    width: 400px;
    height: 200px;
    background-color: red;
}

.viola{
    background-color: purple;
    height: 150px;
}
.verde{
    background-color: rgba(0,255,0,0.65);
    height: 221px;
}
.viola:first-child{
    width: 25%;
}
.viola:nth-child(2){
    width: 50%;
}
.viola:nth-child(3){
    width: 75%;
}
.viola:nth-child(4){
    width: 100%;
}

.verde:first-child{
    width: calc(100% * 1/8);
}
.verde:nth-child(2){
    width: calc(100% * 3/6);
}
.verde:nth-child(3){
    width: calc(100% * 5/8);
}
.verde:nth-child(4){
    width: calc(100% * 2/9);
}