h1,h2,h3{
    color: red;
    text-decoration: underline;
    text-decoration-color: gray;
}

p{
    color: blue;
    text-align: left;
}

#terzoh2{
    color: green;
}

#settimop{
    color: red;
    text-align: right;
}

.hrpari{
    color: black;
    background-color: black;
    height: 10px;
}

.hrdispari{
    color: red;
    height: 3px;
    background-color: red;
}