body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 70%; 
    padding: 8px;
    border: #5e5e5e solid 1px;
    border-radius: 2px;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
  }
  
  .box {
    flex: 1; 
    background-color: #476b98;
    border: 1px #6dabba solid;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.8;
    box-sizing: border-box;
    word-wrap: break-word; 
  }
  
  