.grid1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 50px);
  gap: 1px;
  border: 1px solid red;
}
.grid1 > div {
  border: 1px solid red;
  text-align: center;
}