body {
    display: flex;
}

.scacchiera {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.riga {
    display: flex;
}

.cella {
    width: 80px;
    height: 80px;
}

.bianca {
    background-color: #ffffff;
}

.nera {
    background-color: #000000;
}
