.purple{
    background-color: purple;
    height: 200px;
    width: 400px;
    color: white;
    text-align: justify;

}

.Float{
    background-color: rgb(41, 139, 58);
    height: 150px;
    width: 150px;
    color: white;
    text-align: justify;

}