
.bg1, .b2{
    background: url(https://www.google.com/imgres?q=images&imgurl=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F674010%2Fpexels-photo-674010.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-anjana-c-169994-674010.jpg%26fm%3Djpg&imgrefurl=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fbeautiful%2F&docid=B51x0PBR9KNzvM&tbnid=sKMM4eBjWSQEBM&vet=12ahUKEwj3odqY1s-LAxVrxwIHHX0hJskQM3oECBoQAA..i&w=2976&h=3968&hcb=2&ved=2ahUKEwj3odqY1s-LAxVrxwIHHX0hJskQM3oECBoQAA);
    height: 100px;
    width: 100px;
}

.bg3, .bg4{
    background: url(/home/gorunJ/Scaricati/download.jpeg) ;
    height: auto;
    width: auto;
}
.bg5, .bg6{

}

.bg7, .bg8{

}

.bg9, .bg10{

}

.bg11, .bg12{
    
}