div {
    position: fixed;
    color: white;
}

#sidebar, #main-content {
    text-align: center;
}


#header {
    background-color: darkorange;
    height: 10%;
    width: 100%;
    top: 0px;
    left: 0%;
}

#sidebar {
    background-color: rgb(247, 201, 64);
    top: 10%;
    left: 0%;
    width: 33%;
    height: 80%;
}

#main-content {
    background-color: rgb(110, 182, 206);
    top: 10%;
    left: 33%;
    width: 67%;
    height: 80%;
}



#footer {
    background-color: greenyellow;
    height: 10%;
    width: 100%;
    bottom: 0px;
    left: 0%;
}




