h1 {
    color: blue;
}

#h2_1 {
    color: red;
}

#h2_2 {
    color: green;
}

#h2_3 {
    color: red;
}

#h2_4 {
    color: green;
}

#h2_5 {
    color: red;
}

#h2_6 {
    color: green;
}






#p_1 {
    color: grey;
}

#p_2 {
    color: orange;
}

#p_3 {
    color: grey;
}

#p_4 {
    color: orange;
}

#p_5 {
    color: grey;
}

#p_6 {
    color: orange;
}
