body {
    margin: 0;
    padding: 0;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: lightgray;
    height: auto;
    width: 845px;
    padding: 20px;
    border-radius: 8px;
  }

  .box {
    background-color: #fff;
    width: 200px;
    height: 250px;
    float: left;
    margin: 5px;
  }

  .box:nth-child(4),
  .box:nth-child(5),
  .box:nth-child(10) {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD8E2H51ezvDMtu8PGL5wGGVEaDJxZx3g0CA&s);
    background-size: cover;
    background-position: center;
  }

  .box:nth-child(3),
  .box:nth-child(8),
  .box:nth-child(11) {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD8E2H51ezvDMtu8PGL5wGGVEaDJxZx3g0CA&s) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .box:nth-child(1),
  .box:nth-child(6){
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD8E2H51ezvDMtu8PGL5wGGVEaDJxZx3g0CA&s);
    background-size: cover;
    background-position: center;
  }

  .box:nth-child(2){
    background-color: #e2dbd0;
  }

  .box:nth-child(7){
    background-color: #c4b499;
  }

  .box:nth-child(9){
    background-color: #cfc7bc;
  }

  .box:nth-child(12){
    background-color: #95775c;
  }