h1{
    text-transform: uppercase;
    color: blue;
}
h2{
    text-transform: capitalize;
    text-decoration: overline;
    color: red;
}
p{
    text-align: justify;
}
.p3{
    text-align: right;
    text-shadow: 2px 2px 5px purple;
}