h1, h3{
    color: red;
    text-decoration: underline gray;
}
p{
    color: blue;
    text-align: left;
}
.pr3{
    color: green;
}
.p7{
    color: red;
    text-align: right;
}
.p{
    width: 10px;
    background-color: black;
}
.d{
    background-color: red;
    width: 3px;
}
.pr2, .pr4, .pr6{
    color: green;
}

.pr1, .pr3, .pr5 {
    color: red;
}

.p1, .p3,.p5{  
    color: gray;
}

.p2, .p4, .p6{
    color: orange;
}