.scacchiera {
  display: flex;
  flex-direction: column;
  width: 416px;
  margin: 20px auto;
  border: 2px solid black;
}

.riga {
  text-align: center;
}

.cella {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  float: left;
}


.bianco {
  background-color: white;
}

.nero {
  background-color: black;
}
