.background-relative-absolute {
    background-image: url("image/img1.jpg"); /* Percorso relativo */
    background-size: cover;
    width: 300px; /* Dimensioni fisse */
    height: 200px;
}

/* Path assoluto e dimensioni relative */
.background-absolute-relative {
    background-image: url("https://www.example.com/images/absolute-image.jpg"); /* Percorso assoluto */
    background-size: contain;
    width: 50%; /* Dimensioni relative */
    height: auto;
}

/* Background ripetuto */
.background-repeat {
    background-image: url("image/img1.jpg");
    background-repeat: repeat;
}

/* Background non ripetuto */
.background-no-repeat {
    background-image: url("image/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background ripetuto solo in orizzontale */
.background-repeat-x {
    background-image: url("image/img1.jpg");
    background-repeat: repeat-x;
}

/* Background ripetuto solo in verticale */
.background-repeat-y {
    background-image: url("image/img1.jpg");
    background-repeat: repeat-y;
}

