.bg1, .bg2, .bg3,.bg4{background-image: url(/home/wangE/3INFO_2425/TPSI/CSS/cOMI.jpeg);
width: 20px;
height: 90px;
border: 1px solid black;}

.bg1{background-repeat: repeat ;}
.bg2{background-repeat: no-repeat;}
.bg3{background-repeat: repeat-x;}
.bg4{background-repeat: repeat-y;}