body {
  padding: 10px;
}
a {
  display: inline;
  background-color: #000000;
  padding: 20px;
  text-align: center;
  width: 50px;
  margin: -2px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;

  &:hover {
    background-color: #888888;
  }
}