
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 1000px;
  text-align: center;
  background-color: #fff;
}

tr:nth-child(even) td {
  background-color: #e9e9e9;
}