#img1 {
    width: 250px;
}

#img2 {
    width: 250px;
}

#img3 {
    width: 250px;
}

#img4 {
    width: 250px;
}

#br1 {
    border: 5px;
    background-color: red;
}

#br2 {
    border: 5px;
    background-color: red;
}

#br3 {
    border: 5px;
    background-color: red;
}

#br4 {
    border: 5px;
    background-color: red;
}

#h1 {
    padding: 8px;
}

#h2 {
    padding: 8px;
}

#h3 {
    padding: 8px;
}

#h4 {
    padding: 8px;
}