.grid-conteiner{
    width: 25%;
    height: 20%;
    display: grid;
    align-content:space-between ;
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4,25%);
}
.grid-item{
    font-weight: bolder;
    text-align: center;
    padding: 50px;
    border: solid black 2px;
}
.a{
    grid-column: 1 /3;
}
.b{
    grid-column:  3/5;
}
.c{
    grid-column: 1/2;
}
.d{
    grid-column: 2/5;
}
.e{
    grid-column: 1/5;
}
