.rosso {
    background-color: red;
    border: 1px solid;
    width: 400px;
    height: 200px;
}

#rett1 {
    background-color: purple;
    width: 150px;
    height: 150px;
}

#rett2 {
    background-color: purple;
    width: 150px;
    height: 150px;
}

#rett3 {
    background-color: purple;
    width: 150px;
    height: 150px;
}

#rett4 {
    background-color: purple;
    width: 150px;
    height: 150px;
}

#rett5 {
    background-color: green;
    width: 220px;
    height: 220px;
    
}

