#t1, #t2, #t3 {
    width: 150px;
    border: 1px solid black; 
    text-align: center; /
    color: blue; 
    margin: 5px; 
}

#t4, #t5 {
    width: 150px;
    border: 1px solid black; 
}

#colonna {
    
    text-align: center; 
    color: blue; 
    border: 1px solid black; 
    margin: 5px;
}