a:link { color: blue; }
a:visited { color: green; }
a:hover { color: red; background: yellow;}
a:active { color: grey; }
h1 {
    color: red;
  }
  
  h1:first-child { 
    color: yellow; 
    background: grey;
  }