.colonna {
     background-repeat: repeat-x;
     width: 250px;
     height: 90px;
     border: 1px solid black;
  }

.riga {
     background-repeat: repeat-y;
     width: 250px;
     height: 90px;
     border: 1px solid black;
  }