table{
    border: 20px solid lightblue;
    margin: auto;
}

img{
    width: 150px;
}

p{
    font-weight: bold;
    text-align: center;
}

td{
    border: 1px solid black;
    margin: 5px;
}