body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}


.gallery-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}


.gallery-item img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.caption {
    border-top: 5px solid red;
    padding: 8px;
    font-weight: bold;
    background-color: #fff;
}