div{
    display: inline;
    padding: 10px;
    padding-left: 15px;
    padding-right: 30px;

    color: white;
    background-color: black;
    font-weight: bold;
    float: left;


}
div:hover{
    background-color: grey;
}

div:first-child{
    margin-left: calc(50% - 200px);
}