div{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    float: left;
    margin: 5px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 1.5em;
}

.lati{
    background-color: purple;
    color: white;
}
