div.pari{
    background-color: grey;
    border: 5px solid white;
    float:left;
    width: 50px;
    height: 50px;
}

div.pari:nth-child(even){
    background-color: black;
    border: 5px solid white;
    float:left;
    width: 50px;
    height: 50px;
}

div.dispari{
    background-color: grey;
    border: 5px solid white;
    float:left;
    width: 50px;
    height: 50px;
}

div.dispari:nth-child(even){
    background-color: black;
    border: 5px solid white;
    float:left;
    width: 50px;
    height: 50px;
}

div{
    color: white;
    text-align: center;
    float:none;
}

.iniziolinea{
    height: 60px;
    display: block;
}
