body{
    background-color: #ff6f28;
}

.title{
    font-family: sans-serif;
    color: white;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    margin-top: 3.5vh;
    margin-bottom: 10vh;
}

.boxes{
    height: 44vh;
    margin-left: 10vw;
}

.box{
    float: left;
    width: 20vw;
    height: 40vh;
    padding: 2vw;
    background-color: white;
    border-radius: 10px;
    margin: 2vh;
}

.head{
    color: #ff6f28;
    font-weight: bold;
}

.main{
    color: black;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 3vw;
}

.desc{
    margin-top: 2vw;
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
    margin-bottom: 4vw;
}

.button{
    background-color: #f6e7de;
    color: #ff6f28;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
}