.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  background-color: rgb(41, 41, 41);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.cell:nth-child(1) {
  grid-column: 1 / 5;
  background-color: #999999;
}
.cell:nth-child(2) {
  background-color: #444444;
}
.cell:nth-child(3) {
  grid-column: 2 / 4;
  background-color: #444444;
}
.cell:nth-child(4) {
  background-color: #cccccc;
}
.cell:last-child {
  grid-column: 1 / 5;
  background-color: #999999;
}
